
body {
   background-color: #9fa2b2;
   color: white;
}

.blog-bar {
	background-color: #2e4756;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.recent-posts {
	position: relative; 
	top: 50px;
}

.submit-posts {
	position: relative; 
	top: 50px;
}

#logo-text {
	display:block;
	float:left;
	font-size: 16px;
	text-align: center;
	padding: 10px;

}

#slogan {
	display: block;
	float:left;
	font-size: 10px;
	text-align: center;
	padding: 14px;
}

.user-function {
	float: right; 
}
