@font-face {
  font-family: Raleway;
  src: url(Raleway-Medium.ttf);
}

body {
   background-color: #9fa2b2;
   color: white;
}

.blog-bar {
	background-color: #2e4756;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.recent-posts {
	position: relative; 
	top: 50px;
}

.submit-posts {
	position: relative; 
	top: 50px;
}

#logo-image {
	display: block;
	float:left;
	padding: 14px;
	padding-right: 8px;
	padding-top: 16px;
	max-width: 5%;
	max-height: 5%;
	
}

#logo-text {
	font-family: Raleway;
	display:block;
	float:left;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	padding-left: 5px;

}

.user-function {
	font-family: Raleway;
	float: right; 
	padding-right: 50px;
}
